header {
    .wrapper {
        width: 90%;
        max-width: 1250px;
        margin: 20px auto; 
        display: flex;
        .imageContainer {
            flex-basis: 35%;
            padding-top: 20px;
            margin-right: -12px;
        }
        .cocktailForm {
            width: calc(65% + 12px);
            h1 {
                padding-top: 24px;
                text-indent: 10px;
                text-shadow: 3px 2px $secondary;
            }
        }
    }
}
