body {
    background-color: #2f3b4b;
}
main {
    .wrapper {
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }
}
.recipe {
    display: none;
    .recipeContainer {
        .ingredients {
            .ingredientList {
                opacity: 0;
            }
        }
        .instructions {
            .instructionList {
                opacity: 0;
            }
        }
    }
}
.results {
    display: none;
    h2 {
        opacity: 0;
    }
    .buttonContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    button {
        transition: transform 0.2s, box-shadow 0.2s;
        border-radius: 5px;
        padding: 7px 36px;
        border: 2px solid $secondary; 
        &.reveal {
            background-color: $accent;
        }
        &.randomize {
            background-color: $offWhite;
        }
        &:hover, 
        &:focus {
            box-shadow: 3px 3px 0px $secondary;
            transform: translate(-3px, -3px);
        }
        &:active {
            transform: translate(0px, 0px);
            box-shadow: 0px 0px 0px $accent;
        }
    }
}

//Results section
.drinkName{
    padding: 1rem; 
}

// Recipe section
.recipe {
    padding: 1rem; 
    background: $primary;
    box-shadow: 5px 5px 0px $accent;
    border-radius: 5px; 
    p {
        margin-bottom: 0; 
    }
}

ul li {
    list-style: none;
}

//footer section
footer {
    text-align: center;
    p {
        margin: 0;
    }
    img{
        display:inline-block; 
        width: 3rem; 
        margin-top: 1rem; 
    }
}
