// colour palette
$offWhite: #e6ebec;
$accent: #e4ae5d;
$secondAccent: #fd829d;
$primary: #b7cedb;
$secondary: #6a8ca9;
$tertiary: #2f3b4b;
$quaternary: #23293b;


// font types
$headerFont: 'Bad Script', cursive;
$titleFont: 'Shadows Into Light Two', cursive;
$bodyFont: 'Poppins', sans-serif;