html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: "Bad Script", cursive;
  color: #fd829d;
  font-size: clamp(2rem, 8vw, 6rem);
  line-height: 1.3;
}

h2 {
  font-family: "Shadows Into Light Two", cursive;
  color: #e6ebec;
  font-size: clamp(1.8rem, 5vw, 3.6rem);
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 2px 2px #6a8ca9;
  color: #e6ebec;
}

label {
  font-weight: 300;
  font-size: 0.9rem;
}
label.toggleLabel {
  font-size: 0.8rem;
}

li,
p {
  color: #2f3b4b;
}

.measurements {
  font-weight: bold;
}

.recipeContainer h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

footer p,
footer a {
  color: #e6ebec;
  font-size: 0.8rem;
}

body {
  background-color: #2f3b4b;
}

main {
  min-height: 20vh;
}
main .wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

.recipe {
  display: none;
  padding: 1rem;
  background: #b7cedb;
  -webkit-box-shadow: 5px 5px 0px #e4ae5d;
          box-shadow: 5px 5px 0px #e4ae5d;
  border-radius: 5px;
}
.recipe p {
  margin-bottom: 0;
}
.recipe .recipeContainer {
  padding: 10px 0;
}
.recipe .recipeContainer .ingredients .ingredientList {
  opacity: 0;
  padding: 0;
}
.recipe .recipeContainer .instructions .instructionList {
  opacity: 0;
}

.error {
  display: none;
  padding: 30px 6%;
  background: #b7cedb;
  -webkit-box-shadow: 5px 5px 0px #e4ae5d;
          box-shadow: 5px 5px 0px #e4ae5d;
  border-radius: 5px;
}
.error p {
  margin-bottom: 10px;
}
.error span {
  display: inline-block;
  margin-top: 10px;
  color: #23293b;
}

.results {
  display: none;
}
.results .resultsContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}
.results .resultsContainer h2 {
  opacity: 0;
}
.results .resultsContainer .drinkImage {
  height: 206px;
  width: 206px;
  margin-right: 20px;
}
.results .resultsContainer .drinkImage img {
  border-radius: 50%;
  border: 3px solid #6a8ca9;
}
.results .drinkName {
  min-width: 100px;
  padding: 20px 20px 20px 0;
  position: relative;
}
.results .drinkName::before {
  position: absolute;
  content: "Drink Name:";
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0;
  top: 0;
}
.results .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
.results button {
  width: calc(50% - 10px);
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  border-radius: 5px;
  padding: 7px;
  color: #23293b;
  border: 3px solid #6a8ca9;
}
.results button.reveal {
  background-color: #e4ae5d;
}
.results button.randomize {
  background-color: #e6ebec;
}
.results button:hover, .results button:focus {
  -webkit-box-shadow: 3px 3px 0px #6a8ca9;
          box-shadow: 3px 3px 0px #6a8ca9;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.results button:active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: 0px 0px 0px #e4ae5d;
          box-shadow: 0px 0px 0px #e4ae5d;
}

footer {
  text-align: center;
}
footer p {
  margin: 0;
}
footer img {
  display: inline-block;
  width: 3rem;
  margin-top: 1rem;
}

header .wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper .imageContainer {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding-top: 20px;
  margin-right: -12px;
}
header .wrapper .cocktailForm {
  width: calc(65% + 12px);
}
header .wrapper .cocktailForm h1 {
  padding-top: 24px;
  text-indent: 10px;
  text-shadow: 3px 2px #6a8ca9;
}

.formSection .alcoholSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-width: 250px;
  margin: 20px 0 0 0;
}
.formSection .alcoholSelection label {
  color: #e6ebec;
}
.formSection .alcoholSelection select {
  margin: 10px 0;
}
.formSection .alcoholSelection .otherAlcoholLabel {
  opacity: 0;
}
.formSection .alcoholSelection .otherAlcoholSelect {
  opacity: 0;
}
.formSection .toggleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.formSection .toggleBox .toggleDiv {
  padding-bottom: 10px;
}
.formSection .toggleBox .toggleLabel {
  cursor: pointer;
  color: #e6ebec;
  line-height: 30px;
  padding-left: 60px;
  position: relative;
}
.formSection .toggleBox .toggleLabel::before {
  content: "";
  width: 50px;
  height: 25px;
  background-color: #23293b;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.formSection .toggleBox .toggleLabel::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #e6ebec;
  position: absolute;
  left: 4px;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.formSection .toggleBox [type=checkbox] {
  position: absolute;
  opacity: 0;
}
.formSection .toggleBox [type=checkbox]:checked + .toggleLabel::after {
  left: 28px;
}
.formSection .toggleBox [type=checkbox]:checked + .toggleLabel::before {
  background: #e4ae5d;
}
.formSection .toggleBox [type=checkbox]:checked:active + .toggleLabel::after, .formSection .toggleBox [type=checkbox]:checked:focus + .toggleLabel::after {
  background-color: #e6ebec;
  -webkit-box-shadow: 1px 1px 4px #23293b;
          box-shadow: 1px 1px 4px #23293b;
}
.formSection .toggleBox [type=checkbox]:active + .toggleLabel::after, .formSection .toggleBox [type=checkbox]:focus + .toggleLabel::after {
  background-color: #e4ae5d;
}
.formSection .toggleBox .submitContainer {
  margin-right: 120px;
}
.formSection .submit {
  border: 3px solid #6a8ca9;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  color: #2f3b4b;
  font-size: clamp(1rem, 3vw, 2rem);
  background-color: #b7cedb;
  border-radius: 5px;
  padding: 7px 36px;
  -webkit-box-shadow: 4px 4px 0px #e4ae5d;
          box-shadow: 4px 4px 0px #e4ae5d;
}
.formSection .submit:hover, .formSection .submit:focus {
  -webkit-box-shadow: 7px 7px 0px #e4ae5d;
          box-shadow: 7px 7px 0px #e4ae5d;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.formSection .submit:active {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 1px 1px 0px #e4ae5d;
          box-shadow: 1px 1px 0px #e4ae5d;
}

.searchContainer .fa-magnifying-glass {
  display: none;
}

.searchContainer {
  text-align: right;
}

.navMainSearch {
  display: inline-block;
  position: relative;
  margin: 1rem 1.5rem;
  width: 20rem;
}

.searchInputField {
  border: 2px solid black;
  width: 100%;
  padding: 0.6rem;
  border-radius: 1rem;
}

::-webkit-input-placeholder {
  font-size: 0.9rem;
}

::-moz-placeholder {
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  font-size: 0.9rem;
}

::-ms-input-placeholder {
  font-size: 0.9rem;
}

::placeholder {
  font-size: 0.9rem;
}

.searchButton {
  cursor: pointer;
  background: url(./assets/searchIcon.svg) 0 0 no-repeat;
  width: 1rem;
  height: 1rem;
  padding: 12px;
  position: absolute;
  right: 1.24rem;
  top: 0.8rem;
  border: none;
}

@media (max-width: 1020px) {
  header .wrapper {
    position: relative;
    margin: 10px auto;
  }
  header .wrapper .imageContainer {
    position: absolute;
    width: 360px;
    left: -20px;
    bottom: -20px;
    z-index: -10;
  }
  header .wrapper .cocktailForm {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .wrapper .cocktailForm h1 {
    font-family: "Bad Script", cursive;
    color: #fd829d;
    font-size: clamp(1.9rem, 13vw, 7rem);
    line-height: 1.3;
  }

  .formSection {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .formSection .alcoholSelection {
    width: 60%;
    margin-top: 40px;
  }
  .formSection .toggleBox {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formSection .toggleBox .toggleDiv {
    padding-bottom: 20px;
  }
  .formSection .toggleBox .submitContainer {
    margin-right: 0;
  }
  .formSection .toggleBox .submitContainer .submit {
    font-size: clamp(1.2rem, 6vw, 2rem);
  }
  .formSection .toggleBox .toggleLabel {
    padding-left: 0;
    padding-right: 60px;
  }
  .formSection .toggleBox .toggleLabel::before {
    right: 0;
    left: auto;
  }
  .formSection .toggleBox .toggleLabel::after {
    right: 28px;
    left: auto;
  }
  .formSection .toggleBox [type=checkbox]:checked + .toggleLabel::after {
    left: auto;
    right: 4px;
  }

  .results .buttonContainer {
    width: 80%;
  }

  .error {
    margin-top: 30px;
  }
}
@media (max-width: 900px) {
  header .wrapper {
    margin: 0 auto;
  }

  .formSection .alcoholSelection {
    width: 50%;
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .searchContainer .fa-magnifying-glass {
    display: block;
    color: white;
    margin: 0.5rem 1rem;
    font-size: 2rem;
  }

  .navMainSearch {
    display: none;
    width: 90%;
  }

  header .wrapper .imageContainer {
    bottom: -80px;
  }
  header .wrapper .cocktailForm h1 {
    padding-top: 10px;
    text-shadow: 2px 1px #6a8ca9;
  }

  .formSection .alcoholSelection {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }
  .formSection .toggleBox {
    margin-top: 160px;
  }
  .formSection .submit {
    border: 4px solid #6a8ca9;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #e4ae5d;
    cursor: pointer;
  }
  .formSection .submit:hover, .formSection .submit:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .formSection .submit:active {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  main .wrapper {
    width: 85%;
  }

  .results {
    margin-top: 90px;
  }
  .results .buttonContainer {
    width: 100%;
  }
  .results .buttonContainer button {
    cursor: pointer;
  }
  .results .buttonContainer button:hover, .results .buttonContainer button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .results .buttonContainer button:active {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .error {
    margin-top: 90px;
  }
}
@media (max-width: 560px) {
  header .wrapper {
    margin: 20px auto;
  }
  header .wrapper .imageContainer {
    width: 300px;
    bottom: 40px;
  }

  .formSection {
    width: 100%;
  }
  .formSection .toggleBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 200px;
  }
  .formSection .toggleDiv {
    margin-top: 30px;
  }

  main .wrapper {
    width: 90%;
  }

  .results {
    margin-top: -20px;
  }
  .results .drinkName {
    padding: 1rem 0;
  }
  .results .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results .buttonContainer button {
    width: 100%;
    margin-bottom: 10px;
  }
  .results .resultsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .results .resultsContainer .drinkImage {
    margin: 20px 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .error {
    margin-top: 0px;
  }
}